@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 10, 10;
}

body {
  background-color: #09090b; /* Zinc 950 de Tailwind */
  color: white;
}